$primary-color: #1C54ff;
$secondary-color: #100E14;
$font-family: 'Lato', 'sans-serif';

#navbar {
    background-color:$secondary-color;
}

#navlink {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



#nav {
    color: white;
    font-family: $font-family;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: 2em;
}

#toggle {
    background-color: white;
}